# python files
*.pyc
__pycache__/
# virtual environment
venv/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# output folders
*_out/
build/
site/
.antigravitycli/
scratch/

# Test and Coverage
.coverage
.pytest_cache/
htmlcov/
