# Core Dependencies
numpy>=1.20
scipy>=1.7

# Optional Dependencies (For visualization and plotting)
matplotlib>=3.4

# Optional Dependencies (For Multidisciplinary Design Optimization - MDO examples)
openmdao>=3.20.0

# Development & Testing
pytest>=7.0
